#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.title{
  text-transform: capitalize;
  text-shadow: 2px 2px 4px #f2f5f4;
  margin-top: -98px;

}

.input-box{
  height: 45px;
  width: 374px;
  background-color: #301637;
  margin-right: 10px;
  position: relative;
  border: 2px solid plum;
  border-radius: 4px;
}


.select-box{
  height: 47px;
  width: 179px;
  background-color: #390e4591;
  border: 2px solid plum;
  border-radius: 4px;
}

.plus-icon{
  position: absolute;
  top: 357px;
  left: 812px;
  height: 60px;
  width: 54px;
}

.arrow-icom{
  position: absolute;
  top: 366px;
  left: 1022px;
  height: 42px;
  width: 28px;
  background-color: rgb(48, 14, 64);
}

.holder{
  margin-top: 166px;
}